# Виртуальное окружение
venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы редакторов кода
.idea/
.vscode/

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp

# Файл с деревом проекта (если не хочешь его хранить)
tree.txt